
.textArea {
    width: 100%;
}

.textAreaToggle {
    width: 100%;
    padding: 0.5em;
    cursor: pointer;
    background: none;
    border: 1px solid #ccc;
    font-weight: bold;
    text-align: left;
}

.textAreaContent {
    overflow: hidden;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    max-height: 1000px; /* valor suficientemente grande para el contenido abierto */
    opacity: 1;
}

.textArea.closed .textAreaContent {
    max-height: 0;
    opacity: 0;
}

@media (min-width: 1200px) {
    .mainContainer{
        display: flex;
        flex-direction: row;
    }
    .form{
        min-width: 20%;
        max-width: 20%;
        padding: 1%;
        padding-top: 0%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .error{
           width: 100%;
           font-weight: bold;
           display: flex;
           text-align: center;
    }
    .textArea {
    width: 100%;
}

.textAreaToggle {
    width: 100%;
    padding: 0.5em;
    cursor: pointer;
    background: none;
    border: 1px solid #ccc;
    font-weight: bold;
    text-align: left;
}

.textAreaContent {
    overflow: hidden;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    max-height: 1000px; /* valor suficientemente grande para el contenido abierto */
    opacity: 1;
}

.textArea.closed .textAreaContent {
    max-height: 0;
    opacity: 0;
}
    .showDeck{
        min-width: 70%;
    }
}
@media (max-width: 1200px) {
    .mainContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .showDeck{
        width: 100%;
    }
    .form{
        width: 100%;
        margin-bottom: 2%;
        height: fit-content;
    }
}
