footer{
    font-size:0.7em;
    width: 94%;
    position: absolute;
    text-align: center;
    align-content: center;
    vertical-align: bottom;
    font-weight: bold;
    border-top: 1px var(--color-borde) solid;
    margin: 1%;
    padding: 1%;
    a{
        color: var(--color-texto);
        color-scheme: dark;
    }
}