.container-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    padding: 12px;
    background-color: var(--color-fondo);
    position: relative;
}

#image {
    position: relative;
}

.languaje-icon {
    width: 25px;
    position: absolute;
    z-index: 100;
    right: 0;
    bottom: 0;
}

.card-main {
    display: flex;
    flex-wrap: nowrap;
    margin: 0.5em;
    width: 125px;
    /* base = móvil */
    position: relative;
}

.card {
    position: relative;
    background: var(--color-fondo);
    border-radius: 12px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    border: 5px solid;
    margin: 1%;
    width: 100%;
    /* base = móvil */
}

.card:hover {
    scale: 1.1;
}

.cardInfo {
    position: relative;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.head .title {
    margin-right: 10%;
    font-size: 0.5rem;
    /* base = móvil */
    font-weight: bold;
    text-align: left;
    padding-left: 5%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.head .quantity {
    background-color: var(--color-principal);
    width: 5cqw;
    height: 5cqw;
    font-size: 1em;
    align-items: center;
    align-content: center;
    position: absolute;
    top: -3%;
    right: -5%;
    border-radius: 100%;
    text-align: center;
    z-index: 10;
}

.quantity-buttons {
    display: flex;
    flex-direction: column;
    display: flex;
    width: 20%;
}

.body img {
    width: 100%;
    position: relative;
}

.ilegal-quantity {
    background-color: red !important;
}

/* ---------- Tablet (600px - 767px) ---------- */
@media (min-width: 100px) {
    .container-cards {
        gap: 16px;
        padding: 20px;
    }

    .card-main {
        width: 160px;
    }

    .head .title {
        font-size: 0.8rem;
    }

    .head .quantity {
        width: 4cqw;
        height: 4cqw;
    }
}

/* ---------- Tablet grande / laptop pequeño (768px - 999px) ---------- */
@media (min-width: 768px) {
    .container-cards {
        flex-wrap: wrap;
        gap: 20px;
        padding: 24px;
    }

    .card-main {
        width: 280px;
    }

    .head .title {
        font-size: 1rem;
    }

    .head .quantity {
        width: 3cqw;
        height: 3cqw;
    }

    .cardInfo h3 {
        font-size: 1cqw;
    }
}

/* ---------- Desktop (1200px en adelante) ---------- */
@media (min-width: 1200px) {
    .container-cards {
        gap: 20px;
        padding: 40px;
    }

    .quantity-buttons{
        width: 20%;
    }
    .card-main {
        width: 15cqw;
    }

    .card {
        min-width: 70%;
    }

    .head .title {
        font-size: 1.3rem;
        text-wrap: wrap;
    }

    .head .quantity {
        width: 2cqw;
        height: 2cqw;
        font-size: calc(100% + 10px);
    }

    .cardInfo {
        min-height: 5vh;
    }

    .cardInfo h3 {
        font-size: 1.2rem;
    }
}