.cardInfoContainer {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--color-fondo-transparente);
    z-index: 100;
    top: 0;
    left: 0;
    justify-content: center;
    display: flex;

    .cardInfo {
        display: flex;
        flex-direction: column;

        align-items: center;
        grid-template-rows: 10% 1fr;
        background-color: var(--color-fondo);
        border: 5px solid var(--color-borde);
        border-radius: 15px;
        top: 5%;
        width: 40%;
        height: 90%;

        button {
            width: 100%;
            height: 3em;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
        }

        .info {
            border: 5px solid var(--color-borde);
            background-color: var(--color-secundario);
            width: 90%;
            height: 90%;
            margin-bottom: 1%;
            padding: 1em;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 15px;

            #cardName {
                font-size: 5em;
                text-decoration:underline;
            }

            #cardImage {
                position: relative;

                img {
                    width: 15cqw;
                    border: 5px solid var(--color-principal);
                    border-radius: 15px;
                    background-color: var(--color-principal);
                }

                .quantity {
                    background-color: var(--color-principal);
                    width: 1.5em;
                    height: 1.5em;
                    font-size: 3em;
                    font-weight: bold;
                    align-items: center;
                    align-content: center;
                    position: absolute;
                    border-radius: 100%;
                    text-align: center;
                    z-index: 10;
                    right: -5%;
                    top: -3%;

                }
            }

            #cardImage:hover {
                scale: 1.1;
                margin-bottom: 1%;
            }
        }
    }

}

.cardInfoContainer h3 {
    font-size: 0.7rem;
    color: var(--color-texto-secundario);
    margin: 2px 0;
    font-weight: 400;
    display: block;
    overflow: hidden;
    white-space: wrap;
    text-overflow: ellipsis;

    #set {
        text-align: center;
    }
}

@media (max-width: 1100px) {
    .cardInfoContainer .cardInfo {
        height: 50vh;
        top: 20%;
        width: 60%;

        button {
            height: 3em;
        }

        .info {
            height: 80%;
            width: 40%;
            background-color: var(--color-fondo);
            border: none;
            justify-content: center;
            #cardName {
                text-align: center;
                font-size: 1em;
            }
            #setInfo{
                font-size: 0.5em;
            }
            #cardImage img {    
                width: 20cqw;
            }
            #cardImage:hover{
                scale: 1.5;
            }
            #cardImage .quantity{
                width: 2em;
                height: 2em;
                font-size: 1em;
                right: -2%;
                top: -3%;
            }
            
        }
    }
    @media (max-width: 800px) {
        .cardInfoContainer .cardInfo {
        height: 50%;
        top: 20%;
        width: 60%;

        button {
            height: 3em;
        }

        .info {
            height: 60%;
            margin-bottom: 15%;
            width: 40%;
            background-color: var(--color-fondo);
            border: none;
            justify-content: center;
            #cardName {
                text-align: center;
                font-size: 1em;
            }
            #setInfo{
                font-size: 0.5em;
            }
            #cardImage img {    
                width: 25cqw;
            }
            #cardImage:hover{
                scale: 1.5;
            }
            #cardImage .quantity{
                width: 1.5em;
                height: 1.5em;
                font-size: 1em;
                right: -7%;
                top: -7%;
            }
            
        }
    }
    }
    @media (orientation:landscape) and (max-width: 800px) {
        .cardInfoContainer .cardInfo {
        height: 55%;
        min-height: 55vh;
        top: 20%;
        width: 60%;

        button {
            height: 3em;
            z-index: 1;
        }

        .info {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 50px 1fr;
            height: 50%;
            width: 40%;
            margin-top: -15px;
            background-color: var(--color-fondo);
            border: none;
            justify-content: center;
            #cardName {
                text-align: center;
                font-size: 1em;
                grid-column: 2;
                grid-row: 1;
            }
            #setInfo{
                font-size: 0.5em;
                grid-row: 2;
            }
            #cardImage{
                margin-right: 1%;
                grid-column: 1;
                grid-row: 1/3;
            }
            #cardImage img {   
                border-width: 2px;
                border-radius: 5px; 
                width: 35cqh;
            }
            #cardImage:hover{
                scale: 1.5;
                z-index: 30;
            }
            #cardImage .quantity{
                grid-column: 1;
                width: 1.5em;
                height: 1.5em;
                font-size: 1em;
                right: 15%;
                top: -7%;
            }
            
        }
    }
    }
}