.deck-preview {
    padding: 0.5em;
    position: relative;
    height: 5em;
    transition: 0.5s;
    width: 80%;
    

    p {
        background-color: var(--color-fondo);
        margin-bottom: 0;
        padding-bottom: 0;
        width: 100%;
        padding-right: 1em;
        font-weight: bold;
        z-index: 100;
        position: relative;
        margin-top: 0;
        padding-left: 5px;
    }

    h1 {
        background-color: var(--color-fondo-transparente);
        position: relative;
        margin-bottom: 0;
        padding-bottom: 0;
        width: 100%;
        max-width: 250px;
        padding-bottom: 0.1em;
        padding-top: 0.1em;
        box-sizing: border-box;
        padding-right: 1em;
        font-size: medium;
        z-index: 100;
        white-space: nowrap;
        overflow: hidden;
        text-overflow:ellipsis;
        padding-left: 5px;
    }
    .deck-format{
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: start;
        align-items: center;
        background-color: var(--color-fondo);
        width: 100%;
        padding-left: 16px;
        padding-bottom: 5px;
        padding-right: 5px;
        margin-top: -1px;
        p{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 0.7em;
            width: 33%;
            margin: 0;
            padding: 0;
            font-weight: bold;
            
        }
    }
}

.preview {
    display: flex;
    align-items: center;
    box-shadow:
        0 0 1px #fff,
        0 0 2px #fff,
        0 0 2px #2836ff,
        0 0 2px #5246ff;
    background-position: 10% 30%;
    background-size: 100%;
    background-repeat: no-repeat;
    filter: brightness(0.8);
    transition: 0.s;
}

.preview:hover {
    box-shadow:
        0 0 3px #fff,
        0 0 10px #fff,
        0 0 10px #2836ff,
        0 0 10px #5246ff;
    background-color: var(--color-fondo);
    filter: brightness(1.1);
    transition: 0.2s;
}



.preview-images {
    display: flex;
    position: absolute;
    z-index: 1;
    justify-content: right;
    align-items: end;
    overflow-y: hidden;
    overflow-x: hidden;

    img {
        padding-top: 0em;
        width: 15em;
        padding-right: 0.5em;

    }
}
.deck-preview-info {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    margin-top: -1em;
    .deck-info{
        
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        width: 90%;
    }
}

.delete-icon {
    width: 40px;
    height: 40px;
    z-index: 100;
    align-self: flex-start;
    justify-self: end;
    position: absolute;
    right: 0;
}
.active {
    box-shadow:
        0 0 3px #fff,
        0 0 10px #fff,
        0 0 10px #2836ff,
        0 0 10px #5246ff;
    background-color: var(--color-principal) !important;
    filter: brightness(1);
}