.deck-preview {

    padding: 0.5em;
    position: relative;
    height: 4em;
    transition: 0.2s;
    width: 80%;

    p {
        background-color: var(--color-fondo);
        margin-bottom: 0;
        padding-bottom: 0;
        width: 100%;
        padding-right: 1em;
        font-weight: bold;
        z-index: 1000;
        position: relative;
    }

    h1 {
        background-color: var(--color-fondo-transparente);
        position: relative;
        margin-bottom: 0;
        padding-bottom: 0;
        width: 100%;
        padding-bottom: 0.1em;
        padding-top: 0.1em;
        box-sizing: border-box;
        padding-right: 1em;
        font-size: medium;
        z-index: 100;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.preview {
    display: flex;
    align-items: center;
    box-shadow:
        0 0 1px #fff,
        0 0 2px #fff,
        0 0 2px #2836ff,
        0 0 2px #5246ff;
    background-position: -2em -5em;
    background-size: 20em;
    background-repeat: no-repeat;
    filter: brightness(0.8);
}

.preview:hover {
    box-shadow:
        0 0 3px #fff,
        0 0 10px #fff,
        0 0 10px #2836ff,
        0 0 10px #5246ff;
    background-color: var(--color-principal);
    filter: brightness(1.1);
}

.active {
    box-shadow:
        0 0 3px #fff,
        0 0 10px #fff,
        0 0 10px #2836ff,
        0 0 10px #5246ff;
    background-color: var(--color-principal);
    filter: brightness(1);
}

.preview-images {
    display: flex;
    position: absolute;
    z-index: 1;
    justify-content: right;
    align-items: end;
    overflow-y: hidden;
    overflow-x: hidden;

    img {
        padding-top: 0em;
        width: 15em;
        padding-right: 0.5em;

    }
}

.deck-preview-info {
    display: flex;
    justify-content: space-between;
}

.delete-icon {
    width: 40px;
    height: 40px;
    z-index: 100;
    align-self: flex-start;
    justify-self: end;
}