.deck-list{
    height: 30em;
    overflow-y: scroll;
    padding-right: 0.5em;
    border-right: 
    3px solid white;
}
.decks-list-buttons{
    margin-top: 1em;
}
.import-button{
    font-size: 0.8em;
}