.result-card {
    width: 10em;
    min-width: 12em;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

    h1 {
        margin: 0;
        font-size: 0.7em;
    }

    img {
        max-width: 10em;
        margin: 1em;
        border-width: 5px;
        border-style: solid;
        border-radius: 10px;
    }
}

@media (max-width: 1000px) {
    .result-card {
        width: 9em;
        min-width: 6em;
        text-align: center;
        margin: 1em;

        h1 {
            margin: 0;
            font-size: 0.7em;
        }

        img {
            max-width: 8em;

        }

    }
}