.result-card{
    width: 10em;
    min-width: 12em;
    text-align: center;
    h1{
        margin: 0;
        font-size: 0.7em;
    }
    img{
        max-width: 10em;
        padding: 1em;
    }
    
}