html {
  font-family: 'Arial Narrow Bold', sans-serif;
  display: flex;
  width: 100%;
  justify-content: center;

  body {
    width: 100%;
  }

  #mainTitle {
    font-weight: bold;
    font-size: 2em;
    text-shadow: 2px 0px var(--color-principal);
  }
}

html {
  background-color: var(--color-fondo);
  color: var(--color-texto);
  color-scheme: dark;
}

.app {
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--color-texto);
}

header {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  background-color: var(--color-fondo);
  border-bottom: 1px solid var(--color-borde);
  height: 10vh;
  width: 100%;
  justify-items: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  z-index: 200;

  .header-basic {
    display: flex;
    justify-items: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    position: sticky;
  }

  h1 {
    margin-right: 2em;
  }

  button {
    border-radius: 5px;
    min-width: 1em;
    min-height: 1em;
    max-width: 3em;
    max-height: 3em;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    text-align: center;

    img {
      width: 100%;
      height: 100%;
    }
  }

  button {
    background-color: var(--color-fondo);
    font-family: 'Arial Narrow Bold', sans-serif;
  }

  .active {
    background-color: var(--color-secundario);
    box-shadow:
      0 0 5px #fff,
      0 0 5px #fff,
      0 0 5px #2836ff,
      0 0 5px #5246ff;
  }

  button:hover {
    background-color: var(--color-principal);
    border: 2px solid rgb(235, 237, 243) !important;
    color-scheme: dark;
    box-shadow:
      0 0 6px #fff,
      0 0 6px #fff,
      0 0 6px #2836ff,
      0 0 6px #5246ff;
  }
}

.content {
  margin-bottom: 1%;
  margin-top: 5vh;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid white;
  padding: 1em;
  position: sticky;
  top: 0;

  .nav-link {
    box-shadow: 0px 0px;
    border-bottom: white solid 2px;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1em;
    font-weight: bold;
    
  }

  .nav-link:hover {
    border-bottom: var(--color-principal) 2px solid;
    background-color: var(--color-principal);
    filter: brightness(1.1);
  }

  button {
    box-shadow: 0;
    border: 0;
    background: 0;
    margin: 0;

  }
}

@media (min-width: 1200px) {
  html #mainTitle {
    font-size: 4em;
  }
}

@media (max-width: 1000px) {
  #mainTitle {
    margin-bottom: 15%;
  }
}