:root {
    /* Paleta de colores de la página */
    --color-principal: #5C99C8;
    --color-secundario: #112636;
    --color-texto: #F6F6F6;
    --color-texto-secundario: #94a3b8;
    --color-borde: rgb(226, 235, 255);
    --color-fondo: #071016;
    --color-fondo-transparente: #07101681;
}

html {
    color-scheme: dark;
    font-family: 'Arial Narrow Bold', sans-serif;
    transform: scale(0.99)
}

.standard{
    border: 5px solid !important;
    border-color:  green !important;
}
.expanded{
    border: 5px solid !important;
    border-color: orange !important;
}
.expandedglc{
    border-left: 5px solid orange !important;
    border-top:5px solid orange !important;
    border-bottom:5px solid purple !important;
    border-right:5px solid purple !important;
}
.glc{
    border: 5px solid !important;
    border-color: purple !important;
}
.ilegal{
    border: 5px solid !important;
    border-color: red !important;
}

.other{
    border: 5px solid !important;
    border-color: grey !important;
}